pcap/pcap-interceptor/src/main/java/example/ws/server/connections1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="build.soapserver.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="build.soapserver.ws" targetNamespace="build.soapserver.ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="build.soapserver.ws">

    <xs:element name="registerConnectionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source" type="tns:host"/>
                <xs:element name="destination" type="tns:host"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerConnectionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accepted" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="host">
        <xs:sequence>
            <xs:element name="ip" type="xs:string"/>
            <xs:element name="dns" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="registerConnectionResponse">
    <wsdl:part element="tns:registerConnectionResponse" name="registerConnectionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerConnectionRequest">
    <wsdl:part element="tns:registerConnectionRequest" name="registerConnectionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConnectionsPort">
    <wsdl:operation name="registerConnection">
      <wsdl:input message="tns:registerConnectionRequest" name="registerConnectionRequest">
    </wsdl:input>
      <wsdl:output message="tns:registerConnectionResponse" name="registerConnectionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionsPortSoap11" type="tns:ConnectionsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registerConnection">
      <soap:operation soapAction=""/>
      <wsdl:input name="registerConnectionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerConnectionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionsPortService">
    <wsdl:port binding="tns:ConnectionsPortSoap11" name="ConnectionsPortSoap11">
      <soap:address location="http://localhost:8080/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>